.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.info{
    text-align: center;
}
#startButton{
    background-color: #5C246E;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.btn-option{
    background-color:#5C246E; 
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#time{
    text-align: right;
}
a{
    color: #5C246E;
    text-decoration: none;
}
#highScoreTable{
    margin: 0px auto; 
    border: 1px solid black;
    color: #5C246E;
    font-size: 20px;
}